<% if current_user %>
  <script type="text/javascript">
    window.currentUser = <%= render(
        "api/users/current_user.json.jbuilder",
        user: current_user
      ).html_safe %>;
  </script>
<% end %>

<main id="root"></main>

<script type="text/javascript">
  window.staticImages = {
    loaderVid1: "<%= asset_url("0bdc0497eb3a19e66f2b1e3d5741634c.webm") %>",
    loaderVid2: "<%= asset_url("ffac5bb3fb919ce8bf7137d79e9defc9.mp4") %>",
    closeIcon: "<%= asset_url("close.svg") %>",
    arrowIcon: "<%= asset_url("arrow-down.svg") %>"
  }
</script>
