<!DOCTYPE html>
<html>
  <head>
    <title>Disclone</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700|Roboto+Condensed:400,700|Comfortaa|Quicksand:500,400|Mukta+Malar:200,400,500,700" rel="stylesheet">
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'icon.ico' %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
